In [1]:
import pandas as pd
import numpy as np

In [2]:
nba=pd.read_csv(r"C:\Users\Vaishnavi\Downloads\nba.csv")

In [6]:
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 592 entries, 0 to 591
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      591 non-null    object
 1   Team      591 non-null    object
 2   Position  584 non-null    object
 3   Height    585 non-null    object
 4   Weight    584 non-null    float64
 5   College   578 non-null    object
 6   Salary    488 non-null    float64
dtypes: float64(2), object(5)
memory usage: 32.5+ KB

In [9]:
nba.shape

(592, 7)

In [10]:
Double_Salary=nba["Salary"]*2

In [11]:
Double_Salary

0       9113966.0
1      37400000.0
2       8188488.0
3      41232000.0
4       5163044.0
          ...
587     3439728.0
588    20500000.0
589           NaN
590    16390244.0
591           NaN
Name: Salary, Length: 592, dtype: float64

In [12]:
nba[["feet","inch"]]=nba["Height"].str.split("-",expand=True)

In [13]:
nba

,Name,Team,Position,Height,Weight,College,Salary,feet,inch
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,6,7
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,6,5
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,6,5
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,6,10
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,6,10
...,...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,6,3
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,6,4
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN,6,10
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,6,5
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
nba[["feet","inch"]]=nba[["feet","inch"]].apply(pd.to_numeric)

In [15]:
nba

,Name,Team,Position,Height,Weight,College,Salary,feet,inch
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,6.0,7.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,6.0,5.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,6.0,5.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,6.0,10.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,6.0,10.0
...,...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,6.0,3.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,6.0,4.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN,6.0,10.0
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,6.0,5.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
nba.drop(2)

,Name,Team,Position,Height,Weight,College,Salary,feet,inch
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,6.0,7.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,6.0,5.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,6.0,10.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,6.0,10.0
5,Trent Forrest,Atlanta Hawks,G,6-4,210.0,Florida State,508891.0,6.0,4.0
...,...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,6.0,3.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,6.0,4.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN,6.0,10.0
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,6.0,5.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
nba.insert(7,"Vaishnavi",0) #inserting column

ValueError: cannot insert Vaishnavi, already exists

In [24]:
nba

,Name,Team,Position,Height,Weight,College,Salary,Vaishnavi,feet,inch
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,0,6.0,7.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,0,6.0,5.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,0,6.0,5.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,0,6.0,10.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,0,6.0,10.0
...,...,...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,0,6.0,3.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,0,6.0,4.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN,0,6.0,10.0
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,0,6.0,5.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN