# Practice Questions

This notebook contains **10 short and simple Python practice problems**.

Each question includes:
- Function definition with correct return statements
- Clear explanation of what the function should return

In [ ]:
name = 'student name'
roll_number = 'student roll number'

### 1. Check if a number is positive, negative, or zero  
**Return:** A string like `'5 is Positive'`, `'-2 is Negative'`, or `'0 is Zero'`

In [4]:
def check_number(n: int) -> str:
    if n > 0:
      return f'{n} is Positive'
    elif n < 0:
      return f'{n} is Negative'
    else:
      return f'{n} is Zero'

### 2. Return the sum of all numbers from 1 to n  
**Example:** Input `5` → `15`  
**Return:** Integer sum of all numbers from 1 to n.

In [ ]:
def sum_1_to_n(n: int) -> int:
    pass

### 3. Count how many times a letter appears in a word  
**Example:** Input `('banana', 'a')` → `3`  
**Return:** The count of that letter in the word.

In [3]:
def count_letter(word: str, letter: str) -> int:
    pass

### 4. Return a list of even numbers between 1 and 10  
**Return:** `[2, 4, 6, 8, 10]`

In [ ]:
def even_numbers_1_to_10() -> list[int]:
    pass

### 5. Return the average of three numbers  
**Example:** Input `(4, 8, 10)` → `7.3333...`  
**Return:** Arithmetic mean of the three numbers.

In [ ]:
def average_of_three(a: float, b: float, c: float) -> float:
    pass

### 6. Load the dataset and display the first 5 rows  
**Hint:** Use `pd.read_csv(dataset_path)`  
**Return:** The first 5 rows as a DataFrame.

In [ ]:
import pandas as pd

def load_head(dataset_path: str) -> pd.DataFrame:
    pass

### 7. Display the number of rows and columns in the dataset  
**Return:** A tuple like `(rows, columns)`

In [ ]:
def dataset_shape(dataset_path: str) -> tuple:
    pass

### 8. Return all column names from the dataset  
**Return:** A list of column names.

In [ ]:
def column_names(dataset_path: str) -> list:
    pass

### 9. Return the average of a numeric column  
**Example:** If column name is `'Sales'`, return the mean of that column.  
**Hint:** Use `df[column_name].mean()`

In [ ]:
import pandas as pd

def average_of_column(dataset_path: str, column_name: str) -> float:
    pass

### 10. Return all rows where a given column has a specific value  
**Example:** `filter_by_value(dataset_path, 'Region', 'East')`  
**Return:** Filtered DataFrame

In [ ]:
def filter_by_value(dataset_path: str, column_name: str, value) -> pd.DataFrame:
    pass