In [2]:
import pandas as pd
import numpy as np

In [5]:
nba=pd.read_csv(r"C:\Users\Vaishnavi\Downloads\nba.csv")

In [6]:
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
nba.dropna(how="all")

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0

In [15]:
nba.dropna(subset="College")

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,0.0
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0

In [16]:
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,0.0
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
591,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [17]:
nba["Salary"]=nba["Salary"].fillna(0)

In [18]:
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,0.0
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
591,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [19]:
nba["College"]=nba["College"].fillna("Unknown")

In [20]:
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,0.0
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
591,NaN,NaN,NaN,NaN,NaN,Unknown,0.0

In [22]:
nba.loc[:,["Name","Team","Position"]].head()

                Name           Team Position
0         Saddiq Bey  Atlanta Hawks        F
1  Bogdan Bogdanovic  Atlanta Hawks        G
2        Kobe Bufkin  Atlanta Hawks        G
3       Clint Capela  Atlanta Hawks        C
4     Bruno Fernando  Atlanta Hawks      F-C

In [23]:
nba.loc[:,["Name","Team","Position"]].tail()

                 Name                Team Position
587      Ryan Rollins  Washington Wizards        G
588     Landry Shamet  Washington Wizards        G
589  Tristan Vukcevic  Washington Wizards        F
590      Delon Wright  Washington Wizards        G
591               NaN                 NaN      NaN

In [24]:
nba[["Name","Team","Position"]]

                  Name                Team Position
0           Saddiq Bey       Atlanta Hawks        F
1    Bogdan Bogdanovic       Atlanta Hawks        G
2          Kobe Bufkin       Atlanta Hawks        G
3         Clint Capela       Atlanta Hawks        C
4       Bruno Fernando       Atlanta Hawks      F-C
..                 ...                 ...      ...
587       Ryan Rollins  Washington Wizards        G
588      Landry Shamet  Washington Wizards        G
589   Tristan Vukcevic  Washington Wizards        F
590       Delon Wright  Washington Wizards        G
591                NaN                 NaN      NaN

[592 rows x 3 columns]

In [26]:
nba.loc[nba["Position"]=="G",["Name","Team","Position"]]

                  Name                Team Position
1    Bogdan Bogdanovic       Atlanta Hawks        G
2          Kobe Bufkin       Atlanta Hawks        G
5        Trent Forrest       Atlanta Hawks        G
10          Seth Lundy       Atlanta Hawks        G
11    Garrison Mathews       Atlanta Hawks        G
..                 ...                 ...      ...
584      Kendrick Nunn  Washington Wizards        G
586       Jordan Poole  Washington Wizards        G
587       Ryan Rollins  Washington Wizards        G
588      Landry Shamet  Washington Wizards        G
590       Delon Wright  Washington Wizards        G

[229 rows x 3 columns]

In [27]:
nba["Salary_in"]=nba["Salary"]*1.05 #Broadcasting

In [28]:
nba

,Name,Team,Position,Height,Weight,College,Salary,Salary_in
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,4784832.15
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,19635000.00
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,4298956.20
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,21646800.00
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,2710598.10
...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,1805857.20
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,10762500.00
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,0.0,0.00
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,8604878.10
591,NaN,NaN,NaN,NaN,NaN,Unknown,0.0,0.00

In [32]:
data={"Name":["Aisha","Ananya","NaN","Vaishnavi","Preeti","Zainab"],"RegisNo.":["45","03","NaN","31","24","23"],"VAC":["Yoga","ComEng","NaN","ComEng","Yoga","Yoga"]}

In [33]:
df=pd.DataFrame(data)

In [34]:
df

        Name RegisNo.     VAC
0      Aisha       45    Yoga
1     Ananya       03  ComEng
2        NaN      NaN     NaN
3  Vaishnavi       31  ComEng
4     Preeti       24    Yoga
5     Zainab       23    Yoga

In [35]:
nba.iloc[:10,3]

0     6-7
1     6-5
2     6-5
3    6-10
4    6-10
5     6-4
6     6-6
7    6-11
8     6-8
9     6-8
Name: Height, dtype: object

In [36]:
nba[(nba["Salary"]>4000000) & (nba["Salary"]<5000000)]

,Name,Team,Position,Height,Weight,College,Salary,Salary_in
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,4784832.15
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,4298956.20
30,Payton Pritchard,Boston Celtics,G,6-1,195.0,Oregon,4037277.0,4239140.85
56,James Bouknight,Charlotte Hornets,G,6-4,190.0,Connecticut,4570080.0,4798584.00
115,Josh Green,Dallas Mavericks,G,6-7,200.0,Arizona,4765339.0,5003605.95
149,Zeke Nnaji,Denver Nuggets,F-C,6-9,240.0,Arizona,4306281.0,4521595.05
162,Jalen Duren,Detroit Pistons,C,6-11,250.0,Memphis,4330680.0,4547214.00
264,Taurean Prince,Los Angeles Lakers,F,6-6,218.0,Baylor,4516000.0,4741800.00
269,Jarred Vanderbilt,Los Angeles Lakers,F,6-8,214.0,Kentucky,4698000.0,4932900.00
291,Ziaire Williams,Memphis Grizzlies,F,6-9,185.0,Stanford,4810200.0,5050710.00
337,Nickeil Alexander-Walker,Minnesota Timberwolves,G,6-5,205.0,Virginia Tech,4687500.0,4921875.00
358,Jordan Hawkins,New Orleans Pelicans,G,6-5,190.0,Connecticut,4310196.0,4525705.80
384,Immanuel Quickley,New York Knicks,G,6-2,190.0,Kentucky,4171548.0,4380125.40
394,Ousmane Dieng,Oklahoma City Thunder,F,6-9,185.0,New Zealand Breakers,4798440.0,5038362.00
411,Jalen Williams,Oklahoma City Thunder,G-F,6-5,211.0,Santa Clara,4558680.0,4786614.00
443,Tyrese Maxey,Philadelphia 76ers,G,6-2,200.0,Kentucky,4343920.0,4561116.00
491,Chris Duarte,Sacramento Kings,G,6-5,190.0,Oregon,4124400.0,4330620.00
528,Precious Achiuwa,Toronto Raptors,F,6-8,225.0,Memphis,4379526.0,4598502.30
532,Gradey Dick,Toronto Raptors,G,6-8,205.0,Kansas,4536708.0,4763543.40
539,Jalen McDaniels,Toronto Raptors,F-C,6-9,205.0,San Diego State,4516000.0,4741800.00
549,Ochai Agbaji,Utah Jazz,G,6-5,215.0,Kansas,4114200.0,4319910.00