In [48]:
import pandas as pd

In [49]:
import numpy as np

In [4]:
data={"Region":["Asia","Asia","Europe","Europe","North America","South America"],"Country":["China","India","France","UK","Canada","Brazil"],"Year":[2025,2023,2024,2022,2021,2025],"Sales":[20000,30000,40000,50000,60000,70000],"Profit":[300,400,500,600,700,800]}

In [5]:
df=pd.DataFrame(data)

In [6]:
df

          Region Country  Year  Sales  Profit
0           Asia   China  2025  20000     300
1           Asia   India  2023  30000     400
2         Europe  France  2024  40000     500
3         Europe      UK  2022  50000     600
4  North America  Canada  2021  60000     700
5  South America  Brazil  2025  70000     800

In [7]:
df.groupby("Region")[["Profit","Year"]].mean()

               Profit    Year
Region
Asia            350.0  2024.0
Europe          550.0  2023.0
North America   700.0  2021.0
South America   800.0  2025.0

In [8]:
df[(df['Sales']>300)]

          Region Country  Year  Sales  Profit
0           Asia   China  2025  20000     300
1           Asia   India  2023  30000     400
2         Europe  France  2024  40000     500
3         Europe      UK  2022  50000     600
4  North America  Canada  2021  60000     700
5  South America  Brazil  2025  70000     800

In [11]:
ice_cream=["strawberry","chocolate","butterscotch","vanilla","caramel"]

In [12]:
pd.Series(ice_cream)

0      strawberry
1       chocolate
2    butterscotch
3         vanilla
4         caramel
dtype: object

In [13]:
ic_sales=[25000,30000,78000,45000,59000]

In [14]:
pd.Series(ic_sales)

0    25000
1    30000
2    78000
3    45000
4    59000
dtype: int64

In [15]:
ic_id=[2.5,3.4,7.5,8.9]

In [16]:
pd.Series(ic_id)

0    2.5
1    3.4
2    7.5
3    8.9
dtype: float64

In [20]:
sushi={"Salmon":"Orange","Tuna":"Pink","Eel":"White"}

In [21]:
pd.Series(sushi)

Salmon    Orange
Tuna        Pink
Eel        White
dtype: object

In [29]:
#Methods in Series
price=pd.Series([23.5,45.6,75.8,23.4])

In [30]:
price

0    23.5
1    45.6
2    75.8
3    23.4
dtype: float64

In [31]:
price.sum()

168.29999999999998

In [32]:
price.mean()

42.074999999999996

In [34]:
price.product()

1900718.3520000002

In [35]:
price.std()

24.78969880145111

In [42]:
adjectives=pd.Series(["Beautiful","Smart","Handsome","Smart"]) #Method
adjectives

0    Beautiful
1        Smart
2     Handsome
3        Smart
dtype: object

In [43]:
adjectives.size

4

In [44]:
adjectives.values

array(['Beautiful', 'Smart', 'Handsome', 'Smart'], dtype=object)

In [46]:
adjectives.is_unique

False

In [51]:
type(adjectives.values)

numpy.ndarray

In [53]:
days=["monday","tuesday","wednesday","thursday","friday","saturday","sunday"]
fruits=["apple","banana","pineapple","guava","litchi","grapes","mango"]

In [54]:
pd.Series(days,fruits) #passing parameter argument

apple           monday
banana         tuesday
pineapple    wednesday
guava         thursday
litchi          friday
grapes        saturday
mango           sunday
dtype: object

In [56]:
pd.Series(index=fruits,data=days)

apple           monday
banana         tuesday
pineapple    wednesday
guava         thursday
litchi          friday
grapes        saturday
mango           sunday
dtype: object